.post-header {
  text-align: center;
}

.post-header-title {
  margin: 20px;
  line-height: 48px;
}

.post-is-original {
  display: inline-block;
  margin-left: -33px;
  margin-right: 10px;
  padding: 0 6px;
  font-size: 13px;
  line-height: 22px;
  border-radius: 11px;
}

.author-content {
  color: #d4d3d3;
}

.author-info-title a {
  color: #d4d3d3;
  cursor: pointer;
  transition: color 0.3s;
}

.author-info-title a:hover {
  color: #fff;
}

.markdown-navigation {
  max-height: 600px;
  border-left: 1px solid #eee;
  overflow: hidden;
}

.MarkNav-title {
  padding: 5px 1.2em 8px;
  font-size: 16px;
  font-weight: 600;
  border-left: 1px solid #eee;
}

.markdown-navigation .title-anchor {
  display: flex;
  margin: 7px 0;
}

.markdown-navigation .title-anchor.active {
  border-left: 2px solid #007fff;
}

.title-anchor:first-child {
  margin-top: 0;
}

.title-anchor:last-child {
  margin-bottom: 0;
}

.post-content-table {
  left: calc((100% - 660px) / 2 + 720px);
  width: 255px;
  overflow: hidden;
  transition: top 0.2s ease;
}

.post-ad {
  margin-bottom: 25px;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #cfd8dc;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ad-img {
  margin: 0 auto;
  width: 180px;
  height: 250px;
}

.ad-text {
  margin-right: 12px;
  height: 42px;
  line-height: 40px;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

@media only screen and (max-width: 1330px) {
  .post-content-table {
    display: none;
  }
}
