.post-header {
  text-align: center;
}

.post-header-title {
  margin-top: 20px;
}

.post-is-original {
  display: inline-block;
  margin-left: -33px;
  margin-right: 10px;
  padding: 0 6px;
  font-size: 13px;
  line-height: 22px;
  border-radius: 11px;
}

.author-info-title a {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.author-info-title a:hover {
  color: #d4d3d3;
}
