.author-content {
	display: flex;
	align-items: center;
	color: #d4d3d3;
}

.author-avatar-img {
	width: 76px;
	height: 76px;
	border: 2px solid #adabac;
	border-radius: 50%;
}

.posts-total-count {
	font-size: 16px;
	margin-bottom: 15px;
}

.author-link {
	margin: 0;
	list-style-type: none;
}

.author-link li {
	float: left;
	width: 40px;
}

@media only screen and (max-width: 750px) {
	.author-avatar {
		display: none;
	}
}
