.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 480px;
  margin-bottom: 90px;
  font-family: 'Helvetica Neue', Helvetica, Ubuntu, Arial, sans-serif;
  color: #fff;
}

.header-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein 1s ease-in-out;
  opacity: 0.3;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.3;
  }
}

.qrcode-img {
  position: absolute;
  top: 0;
  left: 30;
  width: 120px;
  height: 120px;
}

.header-left {
  position: relative;
  width: 100%;
  color: #d4d3d3;
}

.header-container {
  margin: 0 auto;
  max-width: 950px;
  min-width: 360px;
  padding: 0 30px;
}

.header-inner {
  min-width: 360px;
}

.header-center {
  position: relative;
  margin: 0 auto;
}

.header-left-content {
  margin-left: 100px;
}

.header-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px;
}

.header-back {
  text-align: right;
}

.header-back a {
  color: #d4d3d3;
}

.header-back:hover a {
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .header-left-content {
    margin-left: 0;
  }
}
