.search-input {
  font-size: 13px;
  color: #d4d3d3;
  background: transparent;
  border: none;
  outline: 0;
  transition: width 0.2s ease;
}

.search-img {
  margin-top: 2px;
  width: 20px;
  height: 20px;
}
